body {
	background-color: #B9A7A0;
}

.as-bg-header {
	background-color: #C55F26;
}

.as-bg-form {
	background-color: #C55F26;
	padding-bottom: 5px;
}

.as-bg-default {
	background-color: #794529;
}

.as-bg-other {
	background-color: #342309;
}

.btn {
	background-color: #000000;
	color: #FFFFFF;
}

/*
* Spell Table CSS
*/
#spell-table {
	color: #DADFE1;
}

#spell-table thead tr{
	background-color: #794529 !important;
}

#spell-table tr:nth-child(odd) {
	background-color:  #954519;
}

#spell-table tr:nth-child(even) {
	background-color: #794529;
}

 #spell-table-body tr:hover {
	background-color: #6D3E25;
}


#spell-table a {
	color: #DADFE1;
	text-decoration: none !important;
}

.as-h1 {
	color: #000000;
	margin: 0px;
}

#as-spells-form {
	color: #000000;
}

/*
* Spell Page CSS
*/
#spell-info {
	color: #DADFE1;
}

#spell-info h5 {
	margin: 5px 5px 5px 5px;	
}

#spell-info p {
	margin: 5px 5px 5px 5px;
}

.spell-info-divide {
	border-bottom: 5px solid #954519;
	overflow: auto;
}

/*
#C55F26

#B9A7A0

#A54D1C

#794529

#E5C808
*/