<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<title>Home :: Astral Plane</title>
		<meta charset="UTF8">
		<!-- For "Mobile First" design -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Include Bootstrap and all other required js libraries -->
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/base.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	</head>
	<body>
		<!-- "container" == fixed-width in view port -->
		<!-- "container-fluid" == full width in view port -->
		<!-- <nav class="navbar navbar-dark bg-dark navbar-expand-md container"> -->
		
		<div class="container">
			<nav th:insert="navigation"></nav>
			<div id="carouselBanner" class="carousel slide" data-ride="carousel" data-pause="false">
		  		<div class="carousel-inner">
		    		<div class="carousel-item active">
		      			<img class="d-block w-100" src="/img/ap_banner1.jpg" alt="Banner One">
		    		</div>
			    	<div class="carousel-item">
			     		<img class="d-block w-100" src="/img/ap_banner2.jpg" alt="Banner Two">
			    	</div>
				    <div class="carousel-item">
				      <img class="d-block w-100" src="/img/ap_banner3.jpg" alt="Banner Three">
				    </div>
		  		</div>
			</div>
			<div class="jumbotron">
				<h1>Astral Plane</h1>
			</div>
			<div class="row">
				<div class="col-md-4">
					<a href="/spells" class="card-head text-center">Spell Book
						<!-- <img class="card-img-bottom" src="spell-book.svg" alt="Spell Book Icon" />	-->
					</a>
				</div>
				<div class="col-md-4">
					<a href="/spells" class="card-head text-center">Spell Book
						<!-- <img class="card-img-bottom" src="spell-book.svg" alt="Spell Book Icon" />	-->
					</a>
				</div>
				<div class="col-md-4">
					<a href="/spells" class="card-head text-center">Spell Book
						<!-- <img class="card-img-bottom" src="spell-book.svg" alt="Spell Book Icon" />	-->
					</a>
				</div>
			</div>
			<!--<div class="card-deck">
				<div class="card">
					<a href="#" class="card-head text-center">Spell Book
						<img class="card-img-bottom" src="spell-book.svg" alt="Spell Book Icon" />		
					</a>
					
				</div>
				<div class="card col">
					<div class="card-body text-center">
						<div class="card-title">Character</div>
						<div class="card-text">Character Icon Here</div>
					</div>				
				</div>	
			</div>
			<div class="card-deck">
			<div class="card">
					<div class="card-body text-center">
						<div class="card-title">News</div>
						<div class="card-text">News Icon Here</div>
					</div>				
				</div>
				<div class="card">
					<div class="card-body text-center">
						<div class="card-title">Classes</div>
						<div class="card-text">Classes Icon Here</div>
					</div>				
				</div>
			</div> -->
		</div>
	</body>
</html>